<!-- Footer -->
<footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2022. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <a href="https://www.facebook.com/volleyballgeorgia" ><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/volleyballgeorgia/"><i class="fab fa-instagram"></i></a>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

  <script src="js/typewriter.js"></script>
</body>
</html>