
<!-- Header -->
<header id="header-home">
  <div id="nav-wrap">
  <div id="navbar" class="navbar top">
     <img src="img/logo1.png" alt="Georgian Volleyball Federation" id="logo" />
    <ul>
      <li><div class="dropdown">
          <button class="current">
            მთავარი
          </button>
        </div></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">
            ფედერაცია
          </button>
          <div id="drop-1" class="dropdown-content">
              <div>
                  <a class="drop-title" > ფედერაცია </a>
                  <a href="./aboutusGeo.html">ჩვენს შესახებ</a>
                  <a href="#about">დოკუმენტაცია</a>
                  <a href="#contact"></a>
              </div>
              <div> 
                  <a class="drop-title">სახეობები</a>
                  <a href="./index2.html">კლასიკური</a>
                  <a href="./index2.html">ქვიშის</a>
                  <a href="./index2.html">თოვლი</a>
                  <a href="./index2.html">ტექვოლი</a>
                  <a href="./index2.html">პარა</a>
              </div>
              <div> 
                  <a class="drop-title">რეგიონები</a>
                  <a href="./index2.html">აჭარა</a>
                  <a href="./index2.html">გურია</a>
                  <a href="./index2.html">თბილისი</a>
                  <a href="./index2.html">იმერეთი</a>
                  <a href="./index2.html">კახეთი</a>
                  <a href="./index2.html">მცხეთა-თიანეთი</a>
                  <a href="./index2.html">რაჭა-ლეჩხუმი</a>
                  <a href="./index2.html">ქვემო ქართლი</a>
              </div>
              <div> 
                  <a class="drop-title">დოკუმენტაცია</a>
                  <a href="./index2.html">წესები</a>
                  <a href="./index2.html">მასალები</a>
              </div>

          </div>
          
        </div>
      </li>
      <li>
          <button>
              სიახლეები
          </button>
      </li>
      <li>
          <div class="dropdown">
          <button onclick="myFunction2()" class="dropbtn">
            ეროვნული გუნდები
          </button>
          <div id="drop" class="dropdown-content">
              <div>
                  <a class="drop-title">მამაკაცები</a>
                  <a>ეროვნული</a>
                  <a href="">ახალგაზრდული</a>
              </div>  
              <div>
                  <a href="#about" class="drop-title">ქალები</a>
                  <a href="">ეროვნული</a>
                  <a href="">ახალგაზრდული</a>
              </div>  
          </div>
      </li>
      <li>
          <div class="dropdown">
          <button onclick="myFunction3()" class="dropbtn">
            კლუბები
          </button>
          <div id="drop" class="dropdown-content">
              <div>
                  <a class="drop-title" href="#home">მამკაცთა ლიგა</a>
                  <a href="#home">უმაღლესი ლიგა</a>
                  <a href="#about">პირველი ლიგა</a>
                  <a href="#contact">საუნივერსიტეტო ლიგა</a>
                  <a href="#contact">სასკოლო ლიგა</a>
              </div>
              <div>
                  <a class="drop-title" href="#home">ქალთა ლიგა</a>
                  <a href="#home">უმაღლესი ლიგა</a>
                  <a href="#about">პირველი ლიგა</a>
                  <a href="#contact">საუნივერსიტეტო ლიგა</a>
                  <a href="#contact">სასკოლო ლიგა</a>
              </div>
              <div>
                  <a class="drop-title" href="#home">სხვა</a>
                  <a href="#home">სამოყვარულო ლიგა</a>
              </div>
             
          </div>
      </li>
      <li>
          <button href="">კალენდარი</button>
      </li>
      <li>
          <button href="contact.html">კონტაქტი</button>
      </li>
      <li>
          
              <!-- <link rel="stylesheet" href="Geo/">gdfregefdg</limk> -->
              <a rel="stylesheet" href="./Geo/indexGeo.html">ENG</a>
         
      </li>
    </ul>
  </div>
  </div>

</div>
</header>