

    <%- include("partials/header"); -%>
    
      <div class="top-container">
        <div class="logogeo">
          <img class="top-logo" src="img/logo1.png" alt="logo">
          <h1 class="aboutvol">ჩვენს შესახებ</h1>
          <p class="aboutvolley"> საქართველოს ფრენბურთის ეროვნული ფედერაცია დაფუძნდა 1991 წლის 28 თებერვალს.
            <br>1991 წლის დეკემბრიდან არის ფრენბურთის საერთაშორისო ფედერაციის (FIVB) და ევროპის ფრენბურთის კონფედერაციის (CEV) წევრი. 
            2013 წლიდან აღმოსავლეთ ევროპის ფრენბურთის ზონალური ასოციაციის (EEVZA) წევრი. <br>
            <ul class="president">პრეზიდენტები წლების მიხედვით:
               <br>
              <li>2021-დან    გიორგი ქართველიშვილი</li>
              <li>2012-2021   ირაკლი ჩაჩუა</li>
              <li>2001-2012   ლევან ახვლედიანი</li>
              <li>1995-2001   ავთანდილ სილაგაძე</li>
              <li>1991-1995   გიული ჯალაღონია</li>
            </ul>
          </p>
        </div>
        
      </div>  
    

  
      <%- include("partials/footer"); -%>



        